<div class="row mt-3">
    <div class="mb-4 mx-auto">
      <h4 class="font-weight-bold">本当に退会しますか？</h4>
    </div>
  </div>
  <div class="row">
    <div class="mb-4 mx-auto">
      <p class="text-center">
        退会すると、会員登録情報や<br>
        これまでの本の登録やレビューが閲覧できなくなります。<br>
        退会する場合は「退会する」をクリックしてください。
      </p>
    </div>
  </div>
  <div class="row col-4 mx-auto">
    <%= link_to "退会しない", user_path(current_user), class: "btn btn-md btn-primary col-5" %>
    <div class="col-2"></div>
    <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-md btn-danger col-5", data: { confirm: "本当の本当に退会しますか？" } %>
  </div>